/* Common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[class*= "col"]{
    background-color: #006CFA;
    border: 1px solid white;
    height: 50px;
}

[class*= "col_offset"]{
    background-color: white;
    border: 1px solid white;
    height: 50px;
}

.pd_20{
    padding: 20px;
}

.mt_20{
    margin-top: 20px;
}

.h_auto{
    height: auto;
}

.d_flex{
    display: flex;
}

.justify_center{
    justify-content: center;
}

.align_center{
    align-items: center;
}


/* Grid structure */


.container{
    max-width: 100%;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

[class*= "col"]{
    flex: 0 0 auto;
}

.col{
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
}

.col_1{
    flex-basis: calc((100% / 12) * 1);
    max-width: calc((100% / 12) * 1);
}

.col_2{
    flex-basis: calc((100% / 12) * 2);
    max-width: calc((100% / 12) * 2);
}

.col_3{
    flex-basis: calc((100% / 12) * 3);
    max-width: calc((100% / 12) * 3);
}

.col_4{
    flex-basis: calc((100% / 12) * 4);
    max-width: calc((100% / 12) * 4);
}

.col_5{
    flex-basis: calc((100% / 12) * 5);
    max-width: calc((100% / 12) * 5);
}

.col_6{
    flex-basis: calc((100% / 12) * 6);
    max-width: calc((100% / 12) * 6);
}

.col_7{
    flex-basis: calc((100% / 12) * 7);
    max-width: calc((100% / 12) * 7);
}

.col_8{
    flex-basis: calc((100% / 12) * 8);
    max-width: calc((100% / 12) * 8);
}

.col_9{
    flex-basis: calc((100% / 12) * 9);
    max-width: calc((100% / 12) * 9);
}

.col_10{
    flex-basis: calc((100% / 12) * 10);
    max-width: calc((100% / 12) * 10);
}

.col_11{
    flex-basis: calc((100% / 12) * 11);
    max-width: calc((100% / 12) * 11);
}

.col_12{
    flex-basis: calc((100% / 12) * 12);
    max-width: calc((100% / 12) * 12);
}

/* Offset */

.col_offset_1{
    flex-basis: calc((100% / 12) * 1);
    max-width: calc((100% / 12) * 1);
}

.col_offset_2{
    flex-basis: calc((100% / 12) * 2);
    max-width: calc((100% / 12) * 2);
}

.col_offset_3{
    flex-basis: calc((100% / 12) * 3);
    max-width: calc((100% / 12) * 3);
}

.col_offset_4{
    flex-basis: calc((100% / 12) * 4);
    max-width: calc((100% / 12) * 4);
}

.col_offset_5{
    flex-basis: calc((100% / 12) * 5);
    max-width: calc((100% / 12) * 5);
}

.col_offset_6{
    flex-basis: calc((100% / 12) * 6);
    max-width: calc((100% / 12) * 6);
}

.col_offset_7{
    flex-basis: calc((100% / 12) * 7);
    max-width: calc((100% / 12) * 7);
}

.col_offset_8{
    flex-basis: calc((100% / 12) * 8);
    max-width: calc((100% / 12) * 8);
}

.col_offset_9{
    flex-basis: calc((100% / 12) * 9);
    max-width: calc((100% / 12) * 9);
}

.col_offset_10{
    flex-basis: calc((100% / 12) * 10);
    max-width: calc((100% / 12) * 10);
}

.col_offset_11{
    flex-basis: calc((100% / 12) * 11);
    max-width: calc((100% / 12) * 11);
}


/* nested col */


[class*= "nested"]{
    flex: 0 0 auto;
}

[class*= "nested"]{
    background-color: #00E165;
    border: 1px solid #006CFA;
    height: 50px;
}

.nested_2_col{
    flex-basis: calc((100% / 12) * 2);
    max-width: calc((100% / 12) * 2);
}

.nested_6_col{
    flex-basis: calc((100% / 12) * 6);
    max-width: calc((100% / 12) * 6);
}

.nested_8_col{
    flex-basis: calc((100% / 12) * 8);
    max-width: calc((100% / 12) * 8);
}


